*.so
*.dSYM
.idea/**
*.idea/*
.vscode
*.nc
*_LogFile
*.pyc
*.pdf
.vscode/*/**
\.DS_Store
Data/**
Literature/**
results/**
Figures/**
__pycache__/*
__pycache__
.ipynb_checkpoints
*.png
*.mp4
*DS_Store*
Grids/*/*.nc
*.so
*.xcuserstate
*DS_Store*
*atlassian*
*.idea/*
 .ipynb_checkpoints/**
Pods/*
*.yml~
*.png
**/*.nc
*with_corners/*
*PET0.ESMF*
coverage.xml*
Results/*
**/*.mod
compile.log
PET0.ESMF_LogFile*
Examples/**/*nc
!Examples/Figures/*.png
compile.log